/.vscode
/.vagrant
/*.box
/*.gz
/*.img
/*.iso
/mini/*.gz
/mini/*.img
/mini/*.iso
/mini/packages/*.txz
/mini/tmp/
/output*
/packages/*.txz
/packer_cache
/tmp/
/tools/aon
/tools/pkg-static
/tools/roothack/roothack
/tools/roothack/roothack.o
/Vagrantfile
/.idea/
